 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 div,
 span,
 a,
 input,
 i,
 em,
 b,
 ul,
 li {
     margin : 0;
     padding: 0;
 }

 a {
     color          : black;
     text-decoration: none;
 }

 input {
     border : none;
     outline: none;
 }

 i,
 em {
     font-style: normal;
 }

 ul,
 li {
     list-style: none;
 }

 