.van-nav-bar {
  background-color: #202529;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20 !important;
}
.van-nav-bar .van-nav-bar__title,
.van-nav-bar .van-icon,
.van-nav-bar .van-nav-bar__text {
  color: white;
}
